@import "@styles/_mixins";
@import "@styles/variables";

.about {
  padding-top: 190px;

  .h2 {
    text-align: center;
  }

  .list {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 100px;
  }
}