@import "@styles/_mixins";
@import "@styles/variables";

.about {
  padding: 190px 0;

  @include media_1180 {
    padding: 120px 0;
  }

  @include media_820 {
    padding: $padding_820 0;
  }

  .h2 {
    text-align: center;
  }

  .list {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 100px;

    @include media_820 {
      padding-top: $padding_820;
      gap: 20px;
    }
  }
}