@import "@styles/_mixins";
@import "@styles/variables";

.section {
  position: relative;

  .background {
    @include media_1440 {
      height: auto;
      width: $media_1440;
    }

    @include media_1180 {
      width: $media_1180;
    }
  }

  .action {
    position: relative;
    width: 1240px;
    margin: -64px auto 0;
    border-radius: 24px;
    background: $colorWhite;
    box-shadow: $boxShadow;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 24px 40px;
    align-items: center;
    z-index: 10;
    gap: 45px;

    @include media_1440 {
      margin: -64px 62px 0;
      width: $media_1180;
    }

    @include media_1180 {
      width: 768px;
      padding: 24px;
      gap: 20px;
    }
  }
}
