@import "@styles/_mixins";
@import "@styles/variables";

.section {
  position: relative;

  .background {
    @include media_1440 {
      height: auto;
      width: $media_1440;
    }

    @include media_1180 {
      width: $media_1180;
    }

    @include media_980 {
      width: $media_980;
    }

    @include media_820 {
      width: 100%;
      height: auto;
    }
  }

  .action {
    position: relative;
    width: 1240px;
    margin: -64px auto 0;
    border-radius: 24px;
    background: $colorWhite;
    box-shadow: $boxShadow;
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 24px 40px;
    align-items: center;
    z-index: 10;
    gap: 45px;

    @include media_1440 {
      margin: -64px 62px 0;
      width: $media_1180;
    }

    @include media_1180 {
      width: $media_980;
      padding: 24px;
      gap: 20px;
    }

    @include media_980 {
      margin: -64px 0 0;
    }

    @include media_820 {
      width: 100%;
      margin: -70px 0 0;
      border-radius: 10px;
      padding: 15px;
    }

    @include media_660 {
      margin: 30px 0 0;
      flex-direction: column;
      box-shadow: none;
    }
  }
}
