@import "@styles/_mixins";
@import "@styles/variables";

.buttonGoBack {
  max-width: max-content;
  max-height: 60px;
}

.h1 {
  text-align: center;
  padding: 50px 0;
}

.textLink {
  padding-bottom: 50px;
  @include font_s24_w700;
  text-align: center;
  color: $colorText;

  .link {
    @include el_hover;
    border-bottom: 1px solid $colorCta;
  }
}

.form {
  @include max-width-mixin(700px);
  margin: 0 auto 100px;
  @include flex-column;
  gap: 15px;

  .buttonSubmit {
    width: 200px;
    align-self: center;
  }
}
