@import "@styles/_mixins";
@import "@styles/variables";

.column {
  @include flex-column;
  gap: 30px;

  @include media_660 {
    gap: 10px;
  }

  .title {
    @include font_s20_w800;
    color: $colorWhite;

    @include media_1180 {
      @include font_s18_w700;
    }

    @include media_660 {
      font-size: 16px;
    }
  }

  .list {
    @include flex-column;
    gap: 12px;
    list-style-type: none;

    @include media_660 {
      gap: 5px;
    }

    .link {
      color: $colorLigthText;
      @include font_s16_w600;
      line-height: 1.75;
      @include el_hover;

      @include media_1180 {
        font-weight: 400;
      }

      @include media_660 {
        font-size: 14px;
      }
    }
  }
}
