@import "@styles/_mixins";
@import "@styles/variables";

.label {
  margin-bottom: 15px;

  .input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  .text {
    @include font_s20_w400;
    color: $colorText;
  }

  .error {
    display: block;
    margin-top: 5px;
    @include input_err;
  }
}