@import "@styles/_mixins";
@import "@styles/variables";

.column {
  @include flex-column;
  gap: 30px;

  .title {
    @include font_s20_w800;
    color: $colorWhite;
  }

  .list {
    &Adddress {
      @include flex-column;
      gap: 12px;

      .itemAddress {
        display: flex;;
        gap: 12px;
        align-items: center;

        .text {
          color: $colorWhite;
          @include font_s16_w700;
          line-height: 1.75;
        }
      }
    }

    &Networks {
      display: flex;
      gap: 8px;
      list-style-type: none;

      .link {
        @include el_hover;
      }
    }
  }
}