@import "@styles/_mixins";
@import "@styles/variables";

.popup {
  display: grid;
  @include popup_init_animation;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $colorOverlay;
  left: 0;
  top: 0;

  &Opened {
    @include popup_end_animation;
    cursor: auto;
  }

  .container {
    width: 700px;
    background: $colorWhite;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    @include flex-column;
    gap: 30px;

    @include media_820 {
      width: 500px;
      gap: 20px;
    }

    @include media_660 {
      width: 400px;
    }

    @include media_440 {
      width: 300px;
      padding: 15px;
      border-radius: $buttonRadius_660;
    }

    .buttonClose {
      @include reset-button;
      @include el_hover;
      position: absolute;
      top: 30px;
      right: 30px;

      @include media_440 {
        top: 15px;
        right: 10px;
      }

      .iconClose {
        @include media_440 {
          width: 18px;
          height: 18px;
        }
      }
    }

    .title {
      @include font_s36_w800;
      text-align: center;

      @include media_1180 {
        @include font_s24_w700;
      }

      @include media_440 {
        font-size: 18px;
      }
    }

    .error {
      @include font_s20_w400;
      color: $colorError;
      padding: 15px 0;
      text-align: center;
    }

    .form {
      @include flex-column;
      gap: 15px;

      .buttonCta {
        @include media_660 {
          padding: 15px;
          font-weight: 400;
          border-radius: $buttonRadius_660;
        }

        @include media_440 {
          padding: 10px;
        }
      }
    }

    .message {
      @include font_s24_w700;
      text-align: center;
      color: $colorText;
    }
  }
}
