@import "@styles/_mixins";
@import "@styles/variables";

.h2 {
  color: $colorText;
  @include font_s64_w800;
  line-height: 1.09;

  @include media_1180 {
    font-size: 48px;
  }

  @include media_980 {
    font-size: 36px;
  }
}
