@import "@styles/_mixins";
@import "@styles/variables";

.section {
  padding-top: 190px;

  @include media_1180 {
    padding-top: 120px;
  }

  @include media_820 {
    padding-top: $padding_820;
  }

  @include media_660 {
    padding-top: $padding_660;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;

    @include media_820 {
      padding-bottom: $padding_820;
    }

    @include media_660 {
      padding-bottom: $padding_660;
    }

    @include media_440 {
      flex-direction: column;
      gap: 20px;
    }

    .button {
      @include font_s18_w700;

      @include media_1180 {
        @include font_s16_w600;
      }

      @include media_980 {
        @include font_s14_w500;
      }

      @include media_820 {
        padding: 10px 20px;
      }

      @include media_660 {
        border-radius: $buttonRadius_660;
      }
    }
  }

  .list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;

    @include media_1440 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media_820 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media_660 {
      gap: 15px;
    }

    @include media_440 {
      grid-template-columns: 1fr;
    }
  }

  .message {
    color: $colorText;
    @include font_s24_w800;
    text-align: center;

    @include media_820 {
      @include font_s16_w600;
    }

    @include media_660 {
      @include font_s14_w500;
    }
  }
}
