@import "@styles/_mixins";
@import "@styles/variables";

.section {
  padding-top: 190px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;

    .button {
      @include font_s18_w700;
    }
  }

  .list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;

    @include media_1440 {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .message {
    color: $colorText;
    @include font_s24_w800;
    text-align: center;
  }
}