@import "@styles/_mixins";
@import "@styles/variables";

.button {
  @include reset-button;
  background-color: $colorCta;
  color: $colorWhite;
  border-radius: 12px;
  padding: 20px 30px;
  @include font_s16_w700;
  @include el_hover;

  &:disabled {
    cursor: default;
    opacity: .7;
  }

  @include media_980 {
    border-radius: 10px;
  }
}