@import "@styles/_mixins";
@import "@styles/variables";

.h1 {
  padding: 50px 0;
  text-align: center;

  @include media_820 {
    padding: 30px 0;
  }
}

.mainList {
  list-style-type: none;
  counter-reset: num;
  @include flex-column;
  @include font_s20_w400;
  gap: 15px;
  padding-bottom: 50px;

  .mainItem {
    line-height: 1.2;

    &::before {
      content: counter(num) ".";
      @include font_s20_w700;
      padding-right: 10px;
      counter-increment: num;
    }

    .subtitle {
      @include font_s20_w700;
      line-height: 1.2;

      @include media_820 {
        font-size: 18px;
      }
    }

    .subList {
      padding-top: 15px;
      @include flex-column;
      gap: 10px;
      counter-reset: subNum;
      list-style-type: none;

      @include media_820 {
        font-size: 16px;
      }

      .item {
        &::before {
          content: counter(num) "." counter(subNum);
          counter-increment: subNum;
          padding-right: 10px;
        }
      }
    }
  }
}
