@import "@styles/_mixins";
@import "@styles/variables";

.article {
  border-radius: 20px;
  background: $colorWhite;
  box-shadow: $shadowArticle;
  padding: 35px 30px;

  .img {
    object-fit: cover;
    object-position: center;
  }

  @include media_440 {
    @include flex-column;
    gap: 15px;
    align-items: center;
  }

  &:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    @include media_820 {
      grid-row: 1 / 2;
      display: flex;
      gap: 30px;
      align-items: center;
    }

    .img {
      border-radius: 16px;

      @include media_1440 {
        width: 350px;
        height: auto;
      }

      @include media_1180 {
        width: 250px;
      }

      @include media_820 {
        width: 200px;
      }

      @include media_660 {
        width: 150px;
      }
    }

    .description {
      .type {
        margin: 30px 0 25px;

        @include media_1180 {
          margin: 20px 0;
        }

        @include media_820 {
          margin: 0 0 30px;
        }

        @include media_660 {
          margin-bottom: 15px;
        }
      }
    }
  }

  &:nth-child(2),
  &:nth-child(3) {
    display: flex;
    gap: 30px;
    align-items: center;

    .img {
      border-radius: 20px;
      width: 181px;
      height: 243px;

      @include media_1180 {
        height: auto;
      }

      @include media_820 {
        width: 200px;
      }

      @include media_660 {
        width: 150px;
      }
    }

    .description {
      .type {
        margin-bottom: 30px;

        @include media_660 {
          margin-bottom: 15px;
        }
      }
    }
  }

  .description {
    @include media_440 {
      @include flex-column;
      align-items: center;
    }

    .type {
      background-color: $colorType;
      padding: 8px 30px 8px 20px;
      border-radius: 12px;
      color: $colorCta;
      @include font_s24_w700;
      width: max-content;

      @include media_1180 {
        @include font_s20_w600;
        padding-right: 20px;
      }

      @include media_660 {
        font-size: 16px;
      }
    }

    .title {
      @include font_s40_w700;
      line-height: 1.3;
      color: $colorText;
      @include max-width-mixin(355px);

      @include media_1180 {
        @include font_s24_w700;
      }

      @include media_820 {
        max-width: 100%;
      }

      @include media_660 {
        font-size: 20px;
      }

      @include media_440 {
        text-align: center;
      }

      .link {
        @include el_hover;

        .icon {
          @include media_1180 {
            width: 24px;
            height: 24px;
          }

          @include media_660 {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}
