@import "@styles/_mixins";
@import "@styles/variables";

.h1 {
  @include visually_hidden;
}

.buttonSearch {
  padding: 20px 40px;
  @include font_s18_w700;

  @include media_1180 {
    padding: 20px;
    @include font_s16_w600;
  }

  @include media_980 {
    padding: 10px;
    @include font_s14_w500;
  }

  @include media_660 {
    padding: 10px 20px;
    border-radius: $buttonRadius_660;
  }
}
