// common
@mixin width_1360 {
  width: 100%;
  max-width: 1360px;
}

@mixin grid-1fr {
  display: grid;
  grid-template-columns: 1fr;
}

@mixin grow-shrink {
  flex-shrink: 0;
  flex-grow: 1;
}

@mixin reset-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin max-width-mixin($w) {
  width: 100%;
  max-width: $w;
}

@mixin input_err {
  height: 16px;
  visibility: hidden;
  color: $colorError;

  &Active {
    visibility: visible;
  }
}

// fonts
@mixin font_s14_w500 {
  font-size: 14px;
  font-weight: 500;
}

@mixin font_s16_w700 {
  font-size: 16px;
  font-weight: 700;
}

@mixin font_s16_w600 {
  font-size: 16px;
  font-weight: 600;
}

@mixin font_s18_w700 {
  font-size: 18px;
  font-weight: 700;
}

@mixin font_s20_w400 {
  font-size: 20px;
  font-weight: 400;
}

@mixin font_s20_w600 {
  font-size: 20px;
  font-weight: 600;
}

@mixin font_s20_w700 {
  font-size: 20px;
  font-weight: 700;
}

@mixin font_s20_w800 {
  font-size: 20px;
  font-weight: 800;
}

@mixin font_s24_w500 {
  font-size: 24px;
  font-weight: 500;
}

@mixin font_s24_w700 {
  font-size: 24px;
  font-weight: 700;
}

@mixin font_s24_w800 {
  font-size: 24px;
  font-weight: 800;
}

@mixin font_s36_w800 {
  font-size: 36px;
  font-weight: 800;
}

@mixin font_s40_w700 {
  font-size: 40px;
  font-weight: 700;
}

@mixin font_s52_w700 {
  font-size: 52px;
  font-weight: 700;
}

@mixin font_s64_w800 {
  font-size: 64px;
  font-weight: 800;
}

// animation
@mixin el_hover {
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

@mixin popup_init_animation {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

@mixin popup_end_animation {
  visibility: visible;
  opacity: 1;
}

// media queries
@mixin media_1440 {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin media_1180 {
  @media screen and (max-width: 1180px) {
    @content;
  }
}

@mixin media_980 {
  @media screen and (max-width: 980px) {
    @content;
  }
}

@mixin media_820 {
  @media screen and (max-width: 820px) {
    @content;
  }
}

@mixin media_660 {
  @media screen and (max-width: 660px) {
    @content;
  }
}

@mixin media_440 {
  @media screen and (max-width: 440px) {
    @content;
  }
}