// common
@mixin width_1360 {
  width: 100%;
  max-width: 1360px;
}

@mixin grid-1fr {
  display: grid;
  grid-template-columns: 1fr;
}

@mixin grow-shrink {
  flex-shrink: 0;
  flex-grow: 1;
}

@mixin reset-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin max-width-mixin($w) {
  width: 100%;
  max-width: $w;
}

// fonts
@mixin font_s16_w700 {
  font-size: 16px;
  font-weight: 700;
}

@mixin font_s16_w600 {
  font-size: 16px;
  font-weight: 600;
}

@mixin font_s18_w700 {
  font-size: 18px;
  font-weight: 700;
}

@mixin font_s20_w600 {
  font-size: 20px;
  font-weight: 600;
}

@mixin font_s20_w700 {
  font-size: 20px;
  font-weight: 700;
}

@mixin font_s20_w800 {
  font-size: 20px;
  font-weight: 800;
}

@mixin font_s24_w800 {
  font-size: 24px;
  font-weight: 800;
}

@mixin font_s36_w800 {
  font-size: 36px;
  font-weight: 800;
}

@mixin font_s40_w700 {
  font-size: 40px;
  font-weight: 700;
}

@mixin font_s64_w800 {
  font-size: 64px;
  font-weight: 800;
}

// animation
@mixin el_hover {
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}
