$colorLigthGrey: rgba(11, 6, 20, 0.30);
$colorText: #0B0614;
$colorCta: #FF5029;
$colorWhite: #fff;
$colorLigthText: rgba(255, 255, 255, 0.80);
$colorLine: rgba(255, 255, 255, 0.15);
$boxShadow: 0px 30px 60px 0px rgba(198, 191, 191, 0.18);